<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>

  <!-- Background image -->
  <div class="card mx-4 mx-md-5 shadow-5-strong">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign Up Now</h2>

          <form [formGroup]="signUpForm">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" class="form-control" formControlName="firstname" placeholder="First Name"/>
                  <small *ngIf="signUpForm.controls['firstname'].touched && signUpForm.hasError('required','firstname')"
                  class="text-center text-danger">first name required</small>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name"/>
                  <small *ngIf="signUpForm.controls['lastname'].touched && signUpForm.hasError('required','lastname')"
                  class="text-center text-danger">last name required</small>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" class="form-control" formControlName="email" placeholder="email address"/>
              <small *ngIf="signUpForm.controls['email'].touched && signUpForm.hasError('required','email')"
              class="text-center text-danger">email address required</small>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" class="form-control" formControlName="password" placeholder="password"/>
              <small *ngIf="signUpForm.controls['password'].touched && signUpForm.hasError('required','password')"
                  class="text-center text-danger">password required</small>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
            <div>
              <small class="text-center">
                Already have an account?
                <a [routerLink]="['/login']">Login</a>
              </small>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
              <p>or sign up with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
